<div id="catalog-tutorial-container">
    <div id="catalog-header">
        <p class="header-name">Catalog promotion tutorial:</p>
    </div>
    <div class="catalog-tutorial-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla volutpat tellus. Proin placerat ornare
            quam, eu sodales sem lacinia sed. Sed eu finibus nunc. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Phasellus et ex mattis lectus vestibulum scelerisque ac vel eros. Morbi tempor laoreet nunc. Donec
            et tempus justo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla volutpat tellus. Proin placerat ornare
            quam, eu sodales sem lacinia sed. Sed eu finibus nunc. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Phasellus et ex mattis lectus vestibulum scelerisque ac vel eros. Morbi tempor laoreet nunc. Donec
            et tempus justo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla volutpat tellus. Proin placerat ornare
            quam, eu sodales sem lacinia sed. Sed eu finibus nunc. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Phasellus et ex mattis lectus vestibulum scelerisque ac vel eros. Morbi tempor laoreet nunc. Donec
            et tempus justo.</p>
    </div>
</div>