#main-app {
    #main-app-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        #main-app-content {
            width: 100%;
            padding: 10px 10px 0 10px;
        }

        #main-app-desktop-nav {
            width: 280px;
            display: none;
        }
    }
}

@media(min-width: 992px) {
    #main-app {
        #main-app-wrapper {

            #main-app-desktop-nav {
                width: 280px;
                display: block;
            }
        }
    }
}