<div id="conditions-main-container">
    <div id="conditions-header">
        <p class="header-p name-of-header">Conditions</p>
        <p class="header-p required-label">* is required</p>
    </div>
    <div id="conditions-form-body">
        <form [formGroup]="conditionsForm">
            <div class="conditions-form-container-element">
                <div class="conditions-form-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Portal</mat-label>
                        <mat-select formControlName="portal">
                            <mat-option value="portal one">First portal</mat-option>
                            <mat-option value="portal two">Second portal</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="left">info</mat-icon>
                </div>
            </div>
            <div class="conditions-form-container-element">
                <div class="conditions-form-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option value="type one">First type</mat-option>
                            <mat-option value="type two">Second type</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="left">info</mat-icon>
                </div>
            </div>
            <div class="conditions-form-container-element">
                <div class="conditions-form-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Benefit amount</mat-label>
                        <mat-select [disabled]="disabledSelectState" formControlName="benefitAmount">
                            <mat-option value="one benefit">First benefit</mat-option>
                            <mat-option value="two benefit">Second benefit</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="left">info</mat-icon>
                </div>
            </div>
            <div class="conditions-form-container-element">
                <div class="conditions-form-element-date-pickers">
                    <div class="conditions-data-picker">
                        <mat-form-field appearance="outline">
                            <mat-label>Start date</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="conditions-data-picker">
                        <mat-form-field appearance="outline">
                            <mat-label>End date</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="left">info</mat-icon>
                </div>
            </div>
            <div class="conditions-form-container-element">
                <mat-radio-group id="radio-button-container" formControlName="bussinessRadio">
                    <div class="radio-form-element">
                        <mat-radio-button value="Bussiness conditions">Bussiness conditions</mat-radio-button>
                    </div>
                    <div class="radio-form-element">
                        <mat-radio-button value="Base price 100%">Base price 100%</mat-radio-button>
                    </div>
                </mat-radio-group>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="left">info</mat-icon>
                </div>
            </div>
            <div class="conditions-form-container-element">
                <div id="checkbox-form-container">
                    <div class="checkbox-form-element">
                        <mat-checkbox formControlName="connectPromotions">Connect with otherpromotions</mat-checkbox>
                    </div>
                    <div class="checkbox-form-element">
                        <mat-checkbox formControlName="backPromotion">Back promotion</mat-checkbox>
                    </div>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="left">info</mat-icon>
                </div>
            </div>
        </form>
    </div>
</div>