mat-list-item {

    a {
        height: 100%;
        width: 100%;
        background-color: #eff1f3;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        text-decoration: none;
        color: black;

        .nav-link-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            .nav-link-circle {
                margin-right: 10px;
                height: 100%;
                width: 44px;
                border-radius: 50%;
                background-color: #666666;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                transition: all 0.3s ease-out;
            }

            .nav-link-name {
                text-transform: uppercase;

                span {
                    transition: color 0.3s ease-out;

                    &:hover {
                        color: #991300;
                    }
                }

            }
        }
    }
}

.is-active-nav {
    pointer-events: none;
    cursor: not-allowed;

    .nav-link-circle {
        background-color: #dee2e7 !important;
    }

    .nav-link-name {
        color: #dee2e7 !important;
    }
}

.nav-link-circle-current {
    background-color: #991300 !important;
}

.disabled-link {
    pointer-events: none;
    cursor: not-allowed;

    .nav-link-circle {
        background-color: #dee2e7 !important;
    }

    .nav-link-name {
        color: #dee2e7 !important;
    }
}