/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#desktop-nav-main-container {
    .mat-list-item-content {
        padding: 2px 2px 2px 8px !important;
    }
}

#definition-grid-main {
    .mat-grid-tile-content {
        display: block !important;
        background-color: #EFF1F3;
    }
}

#form-description-body,
.conditions-form-element,
.conditions-data-picker,
.dialog-update-name {

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding: 0 !important;
        margin: 0;
    }
}

p.error-input-message {
    color: red;
    font-size: 14px;
    margin: 0 12px;
}

.info-icon-main {
    color: #991300;
    font-size: 20px;
}

.required-label {
    font-size: 12px;
    color: #991300;
}

.active-link {
    color: #991300;
}