<div id="description-form-container">
    <div id="header-description-form">
        <p class="header-p name-of-header">Description</p>
        <p class="header-p required-label">* is required</p>
    </div>
    <div id="form-description-body">
        <form>
            <div class="description-form-container-element">
                <div class="description-form-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Marketing name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="right">info</mat-icon>
                </div>
            </div>
            <div class="description-form-container-element">
                <div class="description-form-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Technical name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="right">info</mat-icon>
                </div>
            </div>
            <div class="description-form-container-element">
                <div class="description-form-element">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="6"></textarea>
                    </mat-form-field>
                </div>
                <div class="form-info-icon-container">
                    <mat-icon class="info-icon-main" matTooltip="Lorem ipsum" matTooltipPosition="right">info</mat-icon>
                </div>
            </div>
        </form>
    </div>
</div>